.page {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: var(--secondary-color);
  color: var(--black);
}

.mainBorder {
  position: relative;
  --top-left-margin: 23px;

  background-color: var(--background-color);
  color: var(--color);

  display: flex;
  min-width: 320px;
  min-height: calc(100vh - var(--top-left-margin));

  overflow-x: hidden;
  overflow-y: auto;

  margin-top: var(--top-left-margin);
  margin-left: var(--top-left-margin);
  border-top: 1px solid var(--color);
  border-left: 1px solid var(--color);

  transition-property: background-color;
  transition-duration: 0.9s;
  transition-timing-function: cubic-bezier(0.1, 0.4, 0.2, 1);

  z-index: -43;
}

.canvasBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -42;

  pointer-events: none;
}

.contentBox {
  margin: 128px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.context {
  background-color: var(--background-color);
  box-shadow: 0px 0px 75px 100px var(--background-color);

  height: max-content;

  transition-property: background-color, box-shadow;
  transition-duration: 0.9s;
  transition-timing-function: cubic-bezier(0.1, 0.4, 0.2, 1);
}

.menu {
  display: flex;
  justify-content: end;
  align-items: center;

  align-self: center;
}

@media screen and (max-width: 1024px) {
  .contentBox {
    margin: 36px;
    flex-direction: column;
  }

  .menu {
    align-self: flex-end;
  }
}

@media screen and (max-width: 375px) {
  .contentBox {
    margin: 36px 24px;
    margin: 36px;
  }
}

.textController {
  position: fixed;
  left: 30px;
  top: 3px;
}

