.controller {
  display: flex;
  flex-direction: row;
  gap: 20px;

  position: fixed;
  transform-origin: bottom left;
  transform: rotate(-90deg) translateX(calc(-100% - 12px))
    translateY(calc(100% + 5px));
}

